.pagination-area .pagination-part {
    display: inline-flex !important;
    padding: 0 5px 0 10px;
    height: 60px;
    line-height: 60px;
    box-shadow: 0px 8px 26px 0px rgb(0 0 0 / 10%);
}

.cart{
    height: 30px;
    width: auto;
    min-height: 30px;
    min-width: 30px;
}

.cart:hover{
    cursor: pointer;
}

.toRight{
    float: right;
}

.eclipse{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

// .row {
//     --bs-gutter-x: 1.5rem;
//     --bs-gutter-y: 0;
//     display: flex;
//     flex-wrap:inherit;
//     margin-top: calc(-1 * var(--bs-gutter-y));
//     margin-right: calc(-.5 * var(--bs-gutter-x));
//     margin-left: calc(-.5 * var(--bs-gutter-x));
// }